@model IndexModel

<div class="text-center">
    <h1 class="display-4">Записная книжка</h1>
</div>
<a asp-action="AddPerson">Добавить</a>
<table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Отчество</th>
                    <th>Дополнительно</th>
                </tr>
            </thead>
            <tbody>

        @foreach (Person item in ViewBag.PersonsContext)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Person", new { id = item.Id } )">@item.Id</a>
                        </td>   
                        <td>
                                @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.MiddleName)
                        </td>
                        <td>
                            <a asp-action="DeletePerson" asp-route-id="@item.Id" asp-controller="Book">Удалить</a>
                            <a asp-action="EditPerson" asp-route-id="@item.Id" asp-controller="Book">Изменить</a>
                            @*<form action="DeletePerson(@item.Id)" method="delete">
                                <input type="submit" value="Удалить">
                            </form>*@
                        </td>
                      
                    </tr>
                }
            </tbody>
        </table>