@model IndexModel

<div class="text-center">
    <h1 class="display-4">Записная книжка</h1>
</div>

<table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Отчество</th>
                </tr>
            </thead>
            <tbody>
                
                @foreach (var item in Model.Contacts)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Person", new { id = item.Id } )">@item.Id</a>
                        </td>   
                        <td>
                                @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.MiddleName)
                        </td>
                        <td>
                                <form action="" method="delete">

                                </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>