@model PersonModel


<div class="text-center">
    <h1 class="display-4">@Model.Person.LastName @Model.Person.Name @Model.Person.MiddleName</h1>
</div>

<div class="person">
    <p>Номер телефона: @Model.Person.PhoneNumber</p>
    <p>Адрес: @Model.Person.Address 12</p>
    <p>Описание: @Model.Person.Description</p>
</div>